{extend name='common@template:frame'/}
{block name="body"}
<div class="panel panel-default">
	<form>
		<div class="panel-body">
			<div class="form-group">
				<label for="recipient-name" class="control-label">客户名称:</label>
				<input type="text" class="form-control" id="recipient-name">
			</div>
			<div class="form-group">
				<label class="control-label">客户电话1</label>
				<input class="form-control" type="text" id="client-phone1"/>
			</div>
			<div class="form-group">
				<label class="control-label">客户电话2</label>
				<input class="form-control" type="text" id="client-phone2"/>
			</div>
			<div class="form-group">
				<label class="control-label">客户电话3</label>
				<input class="form-control" type="text" id="client-phone3"/>
			</div>
			<div class="form-group">
				<label for="message-text" class="control-label">客户所在地:</label>
				<div id="client-district"></div>
			</div>
			<div class="form-group">
				<label class="control-label">客户地址</label>
				<input class="form-control" type="text" id="client-address"/>
			</div>
			<div class="form-group">
				<label class="control-label">客户楼盘</label>
				<input class="form-control" type="text" id="client-building"/>
			</div>
			<div class="form-group">
				<label class="controll-label">备注</label>
				<textarea class="form-control" type="text" id="client-memo"></textarea>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-primary btn-block" onclick="iframe_modal_close()">保存</a>
		</div>
	</form>
</div>
{/block}
{block name="script"}
{include file="common@include:js-jquery-wandoubaba-linkage"/}
<script type="text/javascript">
	$(function() {
		$("#client-district").linkage({
			url:"{:url('api/district/getlist')}",
			value_key:"district_id",
			text_key:"district_name",
			root_father:"86",
			father_keyname:"fid",
			default_values:['210000','210100'],
			select_css:"form-control",
			select_style:"border-radius:3px",
			required: 1,
		});
	});
</script>
{/block}