{extend name='common@template:frame'/}
{block name="body"}
<div class="panel panel-default">
	<form>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label">客户:</label>
				中海康城 张先生 177****8899
			</div>
			<div class="form-group">
				<label class="control-label">跟进时间</label>
				<div class="input-append date form_datetime">
				    <input id="follow-time" type="text" style="width:90%"/>
				    <span class="add-on"><i class="fa fa-calendar"></i></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">跟进方式</label>
				<div>
	                <label class="mr-4">
	                  <input type="radio" name="follow-method" class="flat-green">
	                  <i class="fa fa-phone fa-fw"></i>电话
	                </label>
	                <label class="mr-4">
	                  <input type="radio" name="follow-method" class="flat-green">
	                  <i class="fa fa-weixin fa-fw"></i>微信
	                </label>
	                <label class="mr-4">
	                  <input type="radio" name="follow-method" class="flat-green">
	                  <i class="fa fa-car fa-fw"></i>上门
	                </label>
	                <label class="mr-4">
	                  <input type="radio" name="follow-method" class="flat-green">
	                  <i class="fa fa-coffee fa-fw fa-fw"></i>来访
	                </label>
	                <label class="mr-4">
	                  <input type="radio" name="follow-method" class="flat-green">
	                  <i class="fa fa-envelope fa-fw"></i>邮件
	                </label>
	                <label class="mr-4">
	                  <input type="radio" name="follow-method" class="flat-green">
	                  <i class="fa fa-ellipsis-h fa-fw"></i>其他
	                </label>
	            </div>
			</div>
			<div class="form-group">
				<label class="controll-label">跟进记录</label>
				<textarea class="form-control" type="text" id="follow-content" rows="5"></textarea>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-primary btn-block" onclick="iframe_modal_close()">保存</a>
		</div>
	</form>
</div>
{/block}

{block name="css"}
{include file="common@include:css-bootstrap3-datetimepicker"/}
{/block}

{block name="script"}
{include file="common@include:js-bootstrap3-datetimepicker"/}
<script type="text/javascript">
	$(function() {
	    //Flat green color scheme for iCheck
	    $('input[type="checkbox"].flat-green, input[type="radio"].flat-green').iCheck({
	    	checkboxClass: 'icheckbox_flat-green',
	    	radioClass   : 'iradio_flat-green'
	    });
	    // follow-time的datetimepicker
	    $(".form_datetime").datetimepicker({
	    	format: 'yyyy-mm-dd hh:ii',
	    	autoclose: true,
	    	todayBtn: true,
	    	language: 'zh-CN',
	    	todayHighlight: true,
	    });
	});
</script>
{/block}